.th-ativos {
    padding: 20px;
    padding-right: 500px;  
}

th {
    color: #595970; 
    background: #efefef; 
    border-left: 0.1px solid #cecece;
    padding: 20px;
}

td {
    padding-left: 20px;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-right: 5px;
    border-left: 0.1px solid #cecece;
}

#tabela-ativos {
    border-collapse: collapse;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
